<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body>
    <section class="project">
        <h1>Loqua</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic ex nobis explicabo reprehenderit dolore! Repellat, perferendis iusto veritatis odio maiores sunt dolores eius. Odit libero eaque perspiciatis ex beatae. Voluptatum necessitatibus sapiente, nam modi cupiditate atque dicta excepturi, nemo molestiae possimus earum non nesciunt iusto nostrum asperiores quibusdam expedita quis omnis totam consequuntur est illum perferendis vel blanditiis? Qui, quia nisi. Cupiditate iusto animi possimus fugiat quibusdam consequatur explicabo optio aut tempore, voluptates veniam saepe, ipsum earum omnis culpa dolores in deserunt voluptas quaerat quo deleniti. Molestiae amet expedita vel dolorum, deserunt harum a quaerat corporis. Incidunt aut illum libero!</p>
    </section>
    <section class="members"></section>
</body>
</html>