<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/style.css">

<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>
<body>
    <header>
        <h1><a href="#">Loqua 🤖</a></h1>
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Songs</a></li>
        </ul>
        <div id="mood">neutral</div>
    </header>
<!-- <div class="container"> -->
    <div class="chatbox">
        <div class="chatbox__support">

            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Loqua</h4>
                    <p class="chatbox__description--header">How can I help you?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="../static/images/icon.svg" /></button>
        </div>
    </div>
<!-- </div> -->

    <script>
        // $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="../static/app.js"></script>

</body>
</html>